<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="previousUser" value=""/>
    <add key="EnableCryptConnectionString" value="false"/>
    <!--<add key="connectionString" value="UhLtzDGxe5rvTNNIm8CISfgKDeHkPZ/bDLKaDUIwvm7BoXR/UlMXCn9vZ7LZx9QTsPKNSRcFm+CfZDrW4wbdwYtWUHnEPH5RTcMYF7twiVQ6P/JCXSJj03RjYBhhOQylwjb8PWnPVd38N6AQQk7vuHtfNmN4JXfx9lDtLiHtec7ywgq1q0ZDq/IYFYxjI4NU"/>-->
    <add key="connectionString" value="Data Source=192.168.1.200;Initial Catalog=DJEvaluate;Persist Security Info=True;User ID=elite;Password=elite;Asynchronous Processing=true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
